
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.largeCounter{
    display: inline-block;
    margin: auto;
    background: black;
    text-align: center;
}

.largeCounter div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background:#302D2C;
    color:azure;
    padding: 10px;
    border-radius: 10%;
    margin: 3px;
}

